* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
   
}

#display {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border-radius: 5px;
    background-color: #fff;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
}
